{% extends 'basic.html' %}
{% block title %} About {% endblock title %}

{% block body %}
{% load static %}
 <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
         <p> <h2>I'm a professional full stack python developer with over 5.5 years of experience in development.
            I make Web Application usually with Python and React-JS.</h2></p>
          <h3 style="color: MediumSeaGreen; font-size: 20px;">Feel free to take a look at my latest:---</h3> <h2 style="color: Brown; font-size: 16px;"> PROJECT-</h2><a href="https://qcportal.mpcz.in">Project-link-1<h3 style="color:DarkBlue; font-size: 13px;"></a></h3><br><a href="https://www.shekunj.com">Project-link-2<h3 style="color:DarkBlue; font-size: 13px;"></a></h3>
          <h1 style="color: red; font-size: 16px;">Connect me at:</h1>
        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
          <ul class="extra-nav navbar-nav ml-auto">
            <li>
              <a href="https://twitter.com/home"><i class="fa fa-twitter" style="font-size: 40px"></i></a>
            </li>
            <br>
            <li>
              <a href="https://www.linkedin.com/in/shivshankar-chaudhary-9a6146160/"><i class="fa fa-linkedin" style="font-size: 40px" ></i></a>
            </li>
            <br>
            <li>
              <a href="https://github.com/shivshankar123ch"><i class="fa fa-github" style="font-size: 40px"></i></a>
            </li> 
            <br>
            <li>
              <a href="https://stackoverflow.com/users/20051831/shivshankar-chaudhary"><i class="fa fa-stack-overflow" style="font-size: 40px"></i></a>
            </li>
          <br>
          <li>
            <a href="https://www.facebook.com/shivankar.chaudhary.007"><i class="fa fa-instagram" style="font-size: 40px"></i></a>
          </li>
        </ul>


          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Achivement & Experience at a Web development & Operation with cloud based webhosting</h3>
            <marquee scrollamount="1" bgcolor="Fuchsia "  text-align:centre direction="up" height="280px" hspace="50px">
            <p class="fst-italic">
              <h3>Accenture Solutions Pvt ltd.(05 Dec 2024- 03/March 2025) INDC1A Indore</h3>
              <h3>Project :</h3> Cedar (Restructured AI Framework for LLM Applications) 
  Migrated a legacy on-Prem Sybase Dictionary to hold all  loaded providers  and loop through all python file in provider 
  directory. 
  <h3>Responsibilities:</h3>
   Python scripts large language model with langchain and vecter database embadding reloaded 
  through LLM(MongoDB with Redis CLI) interact with streamlit UI,Config with chatproxy_host 
  
  
              <br><br>
             MDP Infra pvt ltd. (Bhopal) client MPMKVVCL
03/2023 - Present	MPMKVVCL (Bhopal )
March-2023- present as a python developer as well as work in django framework and Rest API's
Achievements/Tasks
qcportal madhya pradesh madhya kshetra vidyut vitran co.ltd https://qcportal.mpcz.in/
Tecnolgy only django and Django , postgresql, jquery & javascript & rest API's, model have sampling/ resampling/pdi/MRC/Invoice generated according to delivering inspection all electrical materials. And multifactor authentication in admin site,Tokenization, structure,quality,SOP, Accessibility,cybersecurity,Lifestylemanagement,Riskfactor & their mitigation
<br><br>
SynergyTopSoftLab

Python developer
12/2021- 02/2023	Electronics complex pardesipura Indore IT park
Achievements/Tasks
Synthdeep and Mecherdlo hospital project as on US project Python & MySql query and Python Flask API's & React-js
Aws  serverless  API’s  lambda with Dynamodb,  Boto3 ,I AM Role & EC2,ALB/NLB & CI/CD and web hosting with AWS.
Models have multi-prediction disease and zip-file uploaded report and views automatic unzip, and getting through API’s fast response result showing dynamically graph and PI chart,,login count using signals,and Ticketing
 
<br><br>
      Blockchain & Bitcoins in cryptocurrency(littlebit knowledge)<br><br>
ACHIEVEMENTS TASK(MPMKVVCL)
OCR & open CV using visualization text recognition in energymeter and generate automatic bilpay Invoice
  Numpy and Panda’s and Plotly as  well using google colab text editer & anaconda   Jupiter note
Using  .ipynb file  in using technology with flask . 
                UI’s Jazzmin 
 <br><br>
         WhiteNetGroup Pvt ltd.(Noida)
Python Developer
03/2015 - 02/2018
PROJECTS(whiteNetGroup pvt ltd) Details :-
ERP shoping webapplication as a University Management system & Student Management system either shows present or Absent showing Pi chart or dynamic graph,Hostel & Hotel Booking system & Food Deliver Project, virtual 3d apparel fitting room using open- CV,OCR & visualization based project,Resume using (Streamlit) Analyser(beautifulShop,base64,pyresparser,pdfminer3.layout,PIL,pafy,y outube_dl,plotly),Food deliver Fast API’s,celery based project task que scheduler as using message brokers by redish, Fast API’s Pizza deliver
       Project using sqlAlchemy & dockerfiles & dockercompose.yaml     documentation and .env file using postgresql connectivity database
     
 </p>
  </marquee> <br><br> 
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>18 july 1990</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>chaudharyshivshankarex09@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+919525636721</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>PUNE(Maharastra)</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
              
              </div>
            </div>
         
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

{% endblock body %}